.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 130px;
}
.nav_menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap:60px;
    font-size: 20px;
}
.nav_connect{
    padding: 10px 20px;
    border-radius: 50px;
    background:linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.nav_connect:hover{
    transform: scale(1.05);
}
.nav_menu li{
    display: flex;
    flex-direction: column;
    gap:5px;
    cursor: pointer;
}
.nav_menu li img{
    display: flex;
    margin: auto;
}
.nav_mob_close{
    display: none;
}
@media(max-width:770px){
   .navbar{
    margin: 20px 50px;
   }
   .nav_connect{
    display: none;
   }
   .nav_mob_open{
    position: fixed;
    display: block;
    right: 30px;
   }
   .nav_mob_close{
    display: block;
    position: relative;
    top: 30px;
    width: 30px;
    left: 170px;
   }
   .nav_menu{
    position: fixed;
    width:270px;
    flex-direction: column;
    top:0;
    gap:20px;
    align-items: start;
    background-color: #1f0015;
    height:100%;
    z-index: 2;
    right:-270px;
    transition: right 0.5s;
   }
   .nav_menu li{
    font-size: 30px;
    flex-direction: row;
    padding-left: 100px;
    gap: 20px;
   }
}